<b>💡 Telegram Schema {{layer}} Officially Released on CoreFork!</b>

<b>Changes:</b>
{%- if description %}
{{ description | safe }}
{%- else %}
• No changelog provided by Telegram MTProto developers.
{%- endif %}

#CoreFork #Stable #Layer{{layer}}
