{%- if banner_url %}
<img src="{{ banner_url }}">
{%- endif %}
<h3>Layer {{ layer }} Officially Released</h3>
<p><i>Published on CoreFork by the Telegram MTProto developers</i></p>
{%- if description %}
<blockquote expandable><b>{{ total }} change{{ total | pluralize }} documented by Telegram</b><br>{{ description | safe }}</blockquote>
{%- else %}
<p>No changelog provided by the Telegram MTProto developers.</p>
{%- endif %}
<footer>#CoreFork #Stable #Layer{{ layer }}</footer>
