{%- if is_building -%}
<b>‼️ Another build is in progress</b>

<i>Please wait for it to finish before starting a new one.</i>
{%- else -%}
<b>✅ Patch Successfully Started</b>

<i>It may take a few minutes to complete.</i>
{%- endif -%}