import "fields_difference"
import "object_linked"
import "os_utils"
import "rich_changes"

{%- if is_patch %}
<h3>Layer {{ layer }} Patched</h3>
<p><i>{{ osName(update.Source) }} {{ osVersion(update.Source, update.VersionName, update.BuildNumber) }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{{ getRichChanges(changes, "correction", "", true) }}
{%- elif is_incremental %}
<h3>{{ osName(update.Source) }} {{ osVersion(update.Source, update.VersionName, update.BuildNumber) }}</h3>
<p><i>Layer {{ layer }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{{ getRichChanges(changes, "change", " in this build", false) }}
{%- else %}
<h3>{% if title %}{{ title }}{% else %}{{ osName(update.Source) }} {{ osVersion(update.Source, update.VersionName, update.BuildNumber) }}{% endif %}</h3>
<p><i>{{ osName(update.Source) }} {{ osVersion(update.Source, update.VersionName, update.BuildNumber) }} · Layer {{ layer }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{%- if lead %}
<p>{{ lead | safe }}</p>
{%- endif %}
<hr>
{%- endif %}
<footer>#{{ osShortName(update.Source) }} #{% if is_stable %}Stable{% else %}Preview{% endif %} #Layer{{ layer }}{% if is_patch %} #Patch{% endif %}</footer>
