import "fields_difference"
import "object_linked"
import "os_utils"
import "stats"
import "rich_changes"

{%- if banner_url %}
<img src="{{ banner_url }}">
{%- endif %}
{%- if is_patch %}
<h3>Layer {{ layer }} Patched</h3>
<p><i>{{ osFull(update) }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{{ getRichChanges(changes, patch_summary) }}
{%- elif is_incremental %}
<h3>{{ osFull(update) }}</h3>
<p><i>Layer {{ layer }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{{ getRichChanges(changes, getStats(total_stats)) }}
{%- else %}
<h3>{% if title %}{{ title }}{% else %}{{ osFull(update) }}{% endif %}</h3>
<p><i>{% if title %}{{ osFull(update) }} · {% endif %}Layer {{ layer }} · {% if is_stable %}Stable{% else %}Preview{% endif %}</i></p>
{%- if lead %}
<p>{{ lead | safe }}</p>
{%- endif %}
{%- endif %}
<footer>{{ osHashtags(update, is_stable, layer, is_patch) }}</footer>
