{% macro getSchemeChanges(diffs, schemeStats, isMain, layer, previousLayer) -%}
{% if isMain -%}
<h3>All changes in Layer {{ layer }}</h3>
{%- if previousLayer > 0 %}
<p><i>Compared with Layer {{ previousLayer }}</i></p>
{%- endif %}
{%- else -%}
<h3>All end-to-end changes in Layer {{ layer }}</h3>
{% endif -%}
{%- if diffs.MethodsDifference | length > 0 %}
{{ getObjectsDifference("Methods", schemeStats.Methods, diffs.MethodsDifference) }}
{%- endif %}
{% if diffs.ConstructorsDifference | length > 0 -%}
{{ getObjectsDifference("Constructors", schemeStats.Constructors, diffs.ConstructorsDifference) }}
{%- endif %}
{% endmacro -%}
