DB_NAME=tlextractor
DB_USER=tlextractor
DB_PASSWORD=change_me

DB_HOST_PORT=5433
VALKEY_HOST_PORT=6380

BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
CHANNEL_ID=-1001234567890
LOG_CHAT_ID=1234567890
BACKUP_CHAT_ID=-1009876543210
TELEGRAPH_TOKEN=your_telegraph_token_here

GITHUB_APP_ID=123456
GITHUB_INSTALLATION_ID=12345678

GEMINI_TOKEN=your_gemini_key_here

SCHEME_REPO_OWNER=TGScheme
SCHEME_REPO_NAME=Schema
SCHEME_REPO_NAME_DEV=Schema-Tests
