{% macro getSchemeChanges(diffs, schemeStats, isMain) -%}
{% if isMain -%}
<h3>Schema changes</h3>
{%- else -%}
<h3>End-to-end schema changes</h3>
{% endif -%}
{%- if diffs.MethodsDifference | length > 0 %}
{{ getObjectsDifference("Methods", schemeStats.Methods, diffs.MethodsDifference) }}
{%- endif %}
{% if diffs.ConstructorsDifference | length > 0 -%}
{{ getObjectsDifference("Constructors", schemeStats.Constructors, diffs.ConstructorsDifference) }}
{%- endif %}
{% endmacro -%}