{% macro getStats(scheme) -%}
{%- if scheme.TotalAdditions > 0 -%}
{{scheme.TotalAdditions}} addition{{ scheme.TotalAdditions | pluralize }}
{%- endif -%}
{%- if scheme.TotalAdditions > 0 && scheme.TotalChanges > 0 -%}, {% endif %}
{%- if scheme.TotalChanges > 0 -%}
{{scheme.TotalChanges}} change{{ scheme.TotalChanges | pluralize }}
{%- endif -%}
{%- endmacro %}